.dh_admin_wrap {}
.dh_admin_top {
}

.dh_admin_box h3 {margin:0px 0px -10px 0px;}

.dh_admin_top h1 {
    padding: 0 10px 0 6px;
}

.dh_admin_top small {
    font-size:65%;
    color:#ccc;
}

.dh_admin_signup {
    line-height: 19px;
    padding: 5px;
    font-size: 12px;
    margin: -1px 15px 0 5px;
    border-width: 1px;
    border-style: solid;
    background-color: #FFFBCC;
    border-color: #E6DB55;
    color: #555;
}

.dh_admin_signup input[type="email"] {
    width: 250px;
    padding: 5px;
    margin: 0 10px;
}

.dh_admin_main_wrap {}
.dh_admin_main_left {
    float: left;
    width: 700px;
    padding: 0 10px 0 6px;
}
.dh_admin_main_right {
    padding:0 20px 0 10px;
    float: left;
    width: 250px;
}
.dh_admin_clear {clear:both;}
.dh_admin_fl {float:left}

img.dh_admin_fl {vertical-align: top;padding-right: 5px;margin-bottom: 10px;}
img.paypal {margin-bottom: 10px;}

.dh_admin_box {
   
    background: #fff;
    border: solid 1px #ccc;
    padding:10px;
    margin-bottom: 20px;
}


