@media (min-width: 1024px) {
    .fwabtn {
        display: none;
    }
}

.dh_free_whatsapp_share_button_container {
    margin-bottom: 10px;
}

.dh_free_whatsapp_share_button_container ul {
    overflow: auto;
}

.dh_free_whatsapp_share_button_container ul li {
    list-style-type: none;
    float: left;
}

.dh_free_whatsapp_share_button_container ul li a i {
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    font-size: 25px;
    text-align: center;
    margin-right: 5px;
    padding-top: 15%;
}

.dh_free_whatsapp_share_button_container .fa-facebook {
    background: #3b5998;
}

.dh_free_whatsapp_share_button_container .fa-linkedin {
    background: #007bb6;
}

.dh_free_whatsapp_share_button_container .fa-twitter {
    background: #00aced;
}

.dh_free_whatsapp_share_button_container .fa-google-plus {
    background: #dd4b39;
}

.dh_free_whatsapp_share_button_container .fa-whatsapp {
    background: #390;
}

.dh_free_whatsapp_share_button_container ul li a i:hover {
    opacity: .7;
	transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}

